<div class="center hero-unit">
<h1>CRM System</h1>
  <p>This is the CRM system for GTS</p>
  <%= link_to "Sign up now!", "#", class: "btn btn-large btn-primary", data: {intro: "Click here to sign up", position: 'bottom'} %>
</div>
